In [1]:
#import dependencies
from bs4 import BeautifulSoup
import pandas as pd
from splinter import Browser
import time
import lxml
import pymongo

In [2]:
#set up executable path and create splinter browser to load pages
executable_path = {"executable_path": "chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [3]:
#visit nasa's mars news site
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(1)

In [4]:
#scrape latest article title/description
html = browser.html
soup = BeautifulSoup(html,'html.parser')

article_list = soup.find("ul",class_="item_list")
news_title = article_list.find("div",class_="content_title").text
news_p = article_list.find("div",class_="article_teaser_body").text
print(news_title)
print(news_p)

NASA's Next Mars Lander Spreads its Solar Wings
NASA's next mission to Mars passed a key test Tuesday, extending the solar arrays that will power the InSight spacecraft once it lands on the Red Planet this November.

In [5]:
#visit jpl's mars images site and navigate to featured image
url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url)
time.sleep(1)
browser.find_by_css('div.carousel_items a.fancybox').click()
time.sleep(1)

In [6]:
#scrape featured image url
html = browser.html
soup = BeautifulSoup(html,'html.parser')
featured_image = soup.find('img',class_='fancybox-image')
featured_image_url = "https://www.jpl.nasa.gov" + str(featured_image).split(" ")[2].split('"')[1]
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19637_ip.jpg'

In [7]:
#scrape tweet from mars weather twitter account
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)
time.sleep(1)
mars_weather = browser.find_by_css('div.js-tweet-text-container p.tweet-text').text
mars_weather

'Sol 1945 (Jan 25, 2018), Sunny, high -22C/-7F, low -78C/-108F, pressure at 7.51 hPa, daylight 05:43-17:28'

In [8]:
#scrape table from mars facts
url = "https://space-facts.com/mars/"
browser.visit(url)
time.sleep(1)
html = browser.html
soup = BeautifulSoup(html,'lxml')
table = soup.find_all('table')[0]

mars_facts_df_list = pd.read_html(str(table))

for dictionary in mars_facts_df_list:
    dictionary["description"] = dictionary.pop(0)
    dictionary["value"] = dictionary.pop(1)
mars_facts_dict_list = mars_facts_df_list[0].to_json(orient='records')

In [40]:
url = "https://space-facts.com/mars/"
mars_facts_df = pd.read_html(url)[0]
mars_facts_df = mars_facts_df.rename(index=str, columns={0: "Description", 1: "Value"})
mars_facts_html = mars_facts_df.to_html(index='False',index_names='False')
mars_facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Description</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [32]:
mars = {
    "news_title": news_title,
    "news_p": news_p,
    "featured_image_url": featured_image_url,
    "mars_weather": mars_weather,
    "mars_facts": mars_facts_html
}

In [33]:
#insert scraped info into mars_collection 
#now app.py only has to update values of collection

In [34]:
client = pymongo.MongoClient()
db = client.mars_db
collection = db.mars_collection

In [35]:
#clear out contents of db before inserting
db.collection.delete_many({})

In [36]:
db.collection.insert_one(mars)

In [37]:
print(list(db.collection.find()))

[{'_id': ObjectId('5a6d17d44de3091204baeba8'), 'news_title': "NASA's Next Mars Lander Spreads its Solar Wings", 'news_p': "NASA's next mission to Mars passed a key test Tuesday, extending the solar arrays that will power the InSight spacecraft once it lands on the Red Planet this November.", 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19637_ip.jpg', 'mars_weather': 'Sol 1945 (Jan 25, 2018), Sunny, high -22C/-7F, low -78C/-108F, pressure at 7.51 hPa, daylight 05:43-17:28', 'mars_facts': '<table border="1" class="dataframe"><thead><tr style="text-align: right;"><th></th><th>Description</th><th>Value</th></tr></thead><tbody><tr><th>0</th><td>Equatorial Diameter:</td><td>6,792 km</td></tr><tr><th>1</th><td>Polar Diameter:</td><td>6,752 km</td></tr><tr><th>2</th><td>Mass:</td><td>6.42 x 10^23 kg (10.7% Earth)</td></tr><tr><th>3</th><td>Moons:</td><td>2 (Phobos &amp; Deimos)</td></tr><tr><th>4</th><td>Orbit Distance:</td><td>227,943,824 km (1.52 AU)</td></tr><tr><th>5</th><td>Orbit Period:</td><td>687 days (1.9 years)</td></tr><tr><th>6</th><td>Surface Temperature:</td><td>-153 to 20 °C</td></tr><tr><th>7</th><td>First Record:</td><td>2nd millennium BC</td></tr><tr><th>8</th><td>Recorded By:</td><td>Egyptian astronomers</td></tr></tbody></table>'}]